faiss-gpu
transformers
parlai==1.7.1
charset_normalizer==2.1.0
aiohttp
dill
huggingface-hub
multiprocess
pyarrow
responses==0.18
xxhash
attrs~=20.2.0
numpy~=1.23.0
torch==1.12.1 
torchtext==0.13.0
torchvision==0.13.0 
torchaudio==0.12.1
tqdm~=4.62.1
humanfriendly
rsa
pyasn1-modules>=0.2.1
cachetools
pyahocorasick
anyascii
smmap
google-crc32c